.main{
	width: 400px;
	margin:auto
}

.loading{
    font-size: 40px;
    margin: 100px 0px 0px 170px
}

#msglist{
	height:300px;
	margin:10px 0px;  
	overflow:auto;
	border: 1px solid #eee
}

.float-left{
	float: left;
}